<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The Error occured because the data entred is syntaxly inaccepted</p>
    <p class="output">Please try to <a href="/digitalSignature/verifySignature"><u>Write syntaxly Correct </u></a> or <a href="/"><u>return to the
          Homepage </u> <i class="fas fa-house-return"></i>
      </a>.</p>
    <p class="output">Good luck.</p>
  </div>

</html>