<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Password Strength Checker JavaScript| CodingNepal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/css/resetPassword.css">

</head>

<body>
  <div class="container">
    <a href="#" onclick="close_window();return false;"><i class="fa fa-window-close" aria-hidden="true"
        style="font-size:2em;position:absolute; left:62.5%;top:20.9%"></i> </a>

    <header>Change Password <i class="fas fa-edit"></i> </header>
    <form method="post" id="sign-form" action="/auth/changePass">
      <div class="field">
        <input type="hidden" name="email" value='<%= email %>'>
        <input type="password" name="oldPass" placeholder="Enter your old password" required>
      </div>

      </br>
      <div class="field">
        <input onkeyup="trigger()" name="password" type="password" id="myPsw1" placeholder="Enter your new  password"
          required>
        <span class="showBtn"> <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
      </div>
      </br>
      <div class="field">
        <input type="password" id="myPsw2" name="password2" onkeyup="validatePasswords()"
          placeholder="Renter your new password" required>
        <span class="confirmHhowBtn"> <i class="fa fa-eye" aria-hidden="true"></i>

      </div>
      <span id="message" style="color:red"> </span> <br><br>


      <div class="passwordChecker"></div>
      <a href="javascript:{}" class="btn mt-4" onclick="document.getElementById('sign-form').submit();"> Change Password
      </a>
      </br>
      <p>
        <% if(typeof result=='undefined' ){ %>

          <% } else if (result=="true" || result==true) { %>
            <h3 style="color: green;"> Password changed successfully <i class="fa fa-check" aria-hidden="true"></i>
            </h3>
            <% } else { %>
              <h3 style="color: red;">You are writing wrong password <i class="fa fa-times" aria-hidden="true"></i>
              </h3>
              <% } %>
      </p>
    </form>
  </div>
  <script>
    function close_window() {

      close();

    }
    const input1 = document.getElementById("myPsw1");
    const input2 = document.getElementById("myPsw2");
    const text = document.querySelector(".passwordChecker");
    const showBtn = document.querySelector(".showBtn");



    function trigger() {
      if (input1.value != "") {

        const showBtn = document.querySelector(".showBtn");
        const pass1 = document.getElementById("myPsw1");

        showBtn.style.display = "block";
        showBtn.onclick = function () {
          if (pass1.type == "password") {
            pass1.type = "text";
            showBtn.innerHTML = "<i class='fa fa-eye-slash' aria-hidden='true'></i>"
            showBtn.style.color = "#23ad5c";
          } else {
            pass1.type = "password";
            showBtn.innerHTML = "<i class='fa fa-eye' aria-hidden='true'></i>";
            showBtn.style.color = "#000";
          }
        }
      } else {

        showBtn.style.display = "none";
      }
    }


    function validatePasswords() {
      if (input2.value != "") {
        const confirmHhowBtn = document.querySelector(".confirmHhowBtn");
        const pass2 = document.getElementById("myPsw2");

        confirmHhowBtn.style.display = "block";
        confirmHhowBtn.onclick = function () {
          if (pass2.type == "password") {
            pass2.type = "text";
            confirmHhowBtn.innerHTML = "<i class='fa fa-eye-slash' aria-hidden='true'></i>"
            confirmHhowBtn.style.color = "#23ad5c";
          } else {
            pass2.type = "password";
            confirmHhowBtn.innerHTML = "<i class='fa fa-eye' aria-hidden='true'></i>";
            confirmHhowBtn.style.color = "#000";
          }
        }
      } else {

        confirmHhowBtn.style.display = "none";
      }
      var pass1 = document.getElementById("myPsw1").value;
      var pass2 = document.getElementById("myPsw2").value;
      if (pass1 != pass2) {
        document.getElementById("message").innerHTML = "**Passwords  must be the same <i class='fa fa-times' aria-hidden='true'></i>";
        document.getElementById("message").style.color = 'red'

        return false;
      }
      else {
        document.getElementById("message").innerHTML = '**Passwords  are the same <i class="fa fa-check" aria-hidden="true"></i>';
        document.getElementById("message").style.color = 'green'
      }
      return true;
    }
  </script>
</body>

</html>