<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/emailVerification.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    < center>
        <div class="container ">
            <div class="card p-4">
                <center> 
                <div class=" image d-flex flex-column justify-content-center align-items-center"> <span
                        class="name mt-3">Email Confirmation <i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
                </br>
                     
            </br>
                       <span class="idd"><i class="fa fa-paper-plane" aria-hidden="true"></i>
						An email has been sent to <%= email %>  </span>

                   
                    
                 
                       
                      <center>  <img src="\img\emailConfirmation.png" width="170px" height="150px"> </center>
		</br>
						<span class="idd" ><i class="fa fa-share" aria-hidden="true"></i>
							Please check your inbox to verify your signature  </span>

						

                </div>
            </div>


        </div>
        </center>



</body>

</html>





