<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> .container{
    padding-left: 40%;
    padding-right:40%;
    padding-top:10%}</style>
<body>
<body>

   <div class="container">
<form method="post" action="/auth/sign">
    <h4> Name</h4>
    <input type="text" name="pdfname">
    <input type="hidden" name="email" value="tayeblagha@gmail.com"
    </br>
    <input type="submit" value="sign PDF">
</form>
   </div> 
</body>
</html>